$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-progressbar/scss/bootstrap-progressbar-3.3.0-3.x.x.scss";
// endbower

@import "_progressbar";
@import "_sun";
@import "_ship";

#amount {
  text-align: right;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn.btn-selected {
    background-color: #398439;
    border-color: #398439;
}

.om-logo {
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #fff;
}


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-shadow:1px 1px #333;
  background: #00d2ff;  
  background: linear-gradient(bottom, #00d2ff , #007299) no-repeat center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.alert {
  text-shadow: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #fff;
  border-top: 1px solid #fff;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.form-control:focus {
  border:2px solid green;
  box-shadow: 1px 1px 10px green
}

.form-control:disabled {
  background:#ccc;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
